#ignorer le répertoire virtuel
venv/

#ignorer:
#mlruns/

data_drift/application_test.csv
data_drift/application_train.csv
data_drift/rapport_data_drift.html
data_drift/data_drift.ipynb


api/nouveaux_clients.csv
api/df_test_api.csv

api/lightGBM_model_f.joblib
api/scaler_final.joblib

mlruns/models/lightGBM_model_final.joblib
mlruns/models/logistic_regression_model_final.joblib
mlruns/models/random_forest_model_final.joblib
mlruns/models/random_forest_model_f.joblib

api/scaler.joblib

api/df_clients.csv


